
/* Header Image */
.jumbotron-header{
    background-image: url(header.jpg);
    background-size: cover;
    height: 300px;
    
}

/* Nav Bar */
.navbar-default{
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
  }
.navbar-default {
  background-color: #efefef;
  border-color: #efefef;
}

.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffa500;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffa500;
  background-color: #efefef;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffa500;
  background-color: #efefef;
}
.navbar-default .navbar-toggle {
  border-color: #efefef;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #efefef;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}

.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #ffa500;
}



.thumbnail
{
  font-family: 'Open Sans Condensed', sans-serif;
}
.footer {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #ffbc42;
    text-align: center;
}

.item {
    border-radius: 4px;
}

.caption {
    height: 250px;
    overflow: hidden;
}

.caption h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: orange;
    
    
}

#cart{
    font-size: 10px;
    float:left;
}

.container{
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
}

    p{font-size: 18px;}

}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}

.container h1{
    color:orange;
  }
  #cart{
    font-size: 18px;
  }
    
table#cart thead { 
  display: none; 
}
table#cart tbody td {
 display: block; 
 padding: .6rem; 
 min-width:320px;
}
table#cart tbody tr td:first-child {
  background: #870808;
  color: #fff; 
}
table#cart tbody td:before {
  content: attr(data-th); font-weight: bold;
  display: inline-block; width: 8rem;
}
table#cart tfoot td{
  display:block; 
}
table#cart tfoot td .btn{
      display:block;
}


@media screen and (max-width: 600px) {
    #cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }
    
    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }
  }

@media screen and (min-width: 1330px) {
    .jumbotron-header{
      background-image: url(header.jpg);
    background-size: cover;
        height: 400px;
    }
}

@media screen and (min-width: 1700px){
  .jumbotron-header{
      background-image: url(header.jpg);
    background-size: cover;
        height: 480px;
    }
}
