/* Header Image */
.jumbotron-header {
    height: 300px;
    background-image: url('header.jpg');
    background-size: cover;
}
/* Media Queries for Header Image */
@media screen and (min-width: 1330px) {
    .jumbotron-header {
        height: 400px;
        background-image: url('header.jpg');
        background-size: cover;
    }
}
@media screen and (min-width: 1700px) {
    .jumbotron-header {
        height: 480px;
        background-image: url('header.jpg');
        background-size: cover;
    }
}
/* Nav Bar */
.navbar-default {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

.navbar-default {
    border-color: #efefef;
    background-color: #efefef;
}

.navbar-default .navbar-text {
    color: #000;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #ffa500;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #ffa500;
    background-color: #efefef;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #ffa500;
    background-color: #efefef;
}

.navbar-default .navbar-toggle {
    border-color: #efefef;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #efefef;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-default .navbar-link {
    color: #000;
}

.navbar-default .navbar-link:hover {
    color: #ffa500;
}
/* Menu Items */
.thumbnail {
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 1.42857143;
    display: block;
    margin-bottom: 20px;
    padding: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

.container {
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
}

.container h1 {
    color: orange;
}

.caption {
    overflow: hidden;
    height: 250px;
}

.caption h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: orange;
}

.caption p {
    font-size: 1.2em;
}
/* Shopping Cart */
#cart {
    font-size: 18px;
    float: left;
}
/* Media Query for Shopping Cart */
@media screen and (max-width: 600px) {
    #cart tbody td .form-control {
        display: inline !important;
        width: 20%;
    }

    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }

    .actions .btn-info {
        float: left;
    }

    .actions .btn-danger {
        float: right;
    }

    table #cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
        min-width: 320px;
        padding: 0.6rem;
    }

    table#cart tbody tr td:first-child {
        color: #fff;
        background: #870808;
    }

    table#cart tbody td:before {
        font-weight: bold;
        display: inline-block;
        width: 8rem;
        content: attr(data-th);
    }

    table #cart tfoot td {
        display: block;
    }

    table #cart tfoot td .btn {
        display: block;
    }
}
/* Order Success Page */
#success {
    font-size: 18px;
}

#status {
    height: 400px;
}
/* Footer */
.bg-4 {
    color: black;
    background-color: #ffba00;
}

.container-fluid {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
